<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Frontend.Properties.Settings.DatabaseConnection" connectionString="Data Source=DESKTOP-F1I3PEI;Initial Catalog=School-Live;User ID=sa;Password=saa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>